body {
    font-family: monospace;
    background-color: black;
    color: red;
}
h1 {
    padding: 12px
    border-radius :10px
}
ul {
    list-style-type: none;
    padding: 12px;
}
.introVideo {
}

div.links {
    font-size:20px;
    font-family:impact;
}